//@import "_sass/_font";
// @import "_sass/_variables";
// @import "_sass/_base";
@import "_sass/_type";
@import "_sass/_syntax";
@import "_sass/_code";
// @import "_sass/_layout";
// @import "_sass/_masthead";
@import "_sass/_posts";
@import "_sass/_pagination";
@import "_sass/_message";
@import "_sass/_toc";
@import "_sass/_staticman";
@import "_sass/_webmentions";
@import "_sass/_archive";
@import "_sass/_shareButtons";
@import "_sass/_relatedPosts";
@import "_sass/_navPosts";

/* ----------------------- variable ----------------------- */

// Sass for creating the swatches
.colors {
  display: grid;
  grid-template-columns: max-content 1fr;

  dt {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-radius);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.15);
  }

  dd {
    margin-left: var(--spacer);
  }
}
