<!doctype html>
<html lang="en">
  <head>
    {{- partial "head.html" . }}
  </head>
  <body>
    <div class="container content">
      <header class="masthead">
        {{ partialCached "header.html" . }}
      </header>

      <main>
        {{- block "main" . }}{{- end }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ now.Format `2006-01-02T15:04` | safeHTML}}">{{ now.Format "2006"}}</time>. All rights reserved.
        </small>
      </footer>
    </div>
    {{ if not .Site.IsServer -}}
      {{ template "_internal/google_analytics.html" . }}
    {{- end -}}
  </body>
</html>
