{{- define "main" }}
  <div class="archive">

    {{- $type := .Type -}}
    {{- $.Scratch.Set "count" 1 -}}
      {{- range (.Site.RegularPages.GroupByDate "2006") -}}
        {{- if and (gt .Key 1) (gt (where .Pages "Type" $type) 0) -}}
          {{- range (where .Pages "Type" $type) -}}
            {{- if (eq ($.Scratch.Get "count") 1) -}}
              {{- $.Scratch.Set "count" 0 }}
              <h2>{{- .Date.Format "2006" -}}</h2>
            {{- end -}}
          {{- end -}}
          {{- $.Scratch.Set "count" 1 }}
            <ul>
            {{- range (where .Pages "Type" $type) -}}
              {{- if (ne .Params.hidden true) }}
                <li>
                  <time>{{- .Date | time.Format ":date_medium" -}}</time>
                  <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
                </li>
              {{- end -}}
            {{- end }}
            </ul>
      {{- end -}}
    {{- end -}}

    {{- if eq .Kind "term"}}
      <div class="archive-term">
        <h2>Filtering for #{{ .Title }}</h2>
        <small>
          <a href="{{ "/blog" | relURL }}">Remove filter</a>
        </small>
        <ul>
          {{- range .Pages }}
              <li>
                <time>{{- .Date | time.Format ":date_medium" -}}</time>
                <a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
              </li>
          {{- end }}
        </ul>
      </div>
    {{- end}}

    {{- if eq .Type "blog" }}
        <div class="archive-tags">
          {{- range .Site.Taxonomies.tags }}
          <a href="{{- .Page.Permalink -}}">#{{- .Page.Title -}}</a>&nbsp;
          {{- end }}
        </div>
    {{- end }}
  </div>
{{- end -}}