{{ define "main" }}
  {{ if eq .Type "page" }}
    <article class="h-entry page">
      <h1 class="p-name page-title">{{ .Title }}</h1>
      <div class="e-content">
        {{ .Content }}
      </div>
    </article>
  {{ else }}
    <article class="h-entry post">
      <h1 class="p-name post-title">{{ .Title }}</h1>
      <span class="post-meta">
        <a class="u-url" href="{{ .Permalink }}">
        <time class="dt-published post-date" datetime="{{ .Date.Format `2006-01-02T15:04:05Z07:00` | safeHTML }}">{{ .Date | time.Format ":date_full" }}</time></a>
      </span>
      <div class="e-content">
        {{ .Content }}
      </div>
    </article>
    <div class="post-footer">
      <div class="post-footer-tags">
        {{ range (.GetTerms "tags") }}
          <a class="h-entry p-category" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
        {{ end }}
      </div>
      {{ partial "share.html" . }}
    </div>
    {{- partial "nav-posts.html" . }}
    {{- partial "related.html" . }}
    {{- partial "staticman.html" . }}
  {{- end -}}
{{- end -}}
