{{ if (gt .Site.Params.related_posts_count 0) }}
{{ $related := .Site.RegularPages.Related . | first .Site.Params.related_posts_count }}
{{ with $related }}
  <section class="related">
      <h3>{{ i18n "related_posts_title" }}</h3>
    <ul class="related-posts">
      {{ range . }}
        <li>
			{{ if .Title }} <a href="{{- .RelPermalink -}}">{{- .Title | plainify | safeHTML -}}</a>
			{{- else }}
			<a href="{{- .RelPermalink -}}"> {{ .Summary | plainify | safeHTML | truncate 65}}</a> 
			{{- end}}
			<hr class="hr-list">
			<time datetime="{{ .Date.Format `2006-01-02T15:04:05Z07:00` | safeHTML }}">{{ .Date | time.Format ":date_short" }}</time>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
{{ end}}
