<script type="text/javascript">
// share js for windows pop-up
  (function() {
    if (window.__IntentHandler) return;
    var intentRegex = /twitter\.com\/intent\/(\w+)/,
        windowOptions = 'scrollbars=yes,resizable=yes,toolbar=no,location=yes',
        width = 550,
        height = 420,
        winHeight = screen.height,
        winWidth = screen.width;

    function handleIntent(e) {
      e = e || window.event;
      var target = e.target || e.srcElement,
          m, left, top;

      while (target && target.nodeName.toLowerCase() !== 'a') {
        target = target.parentNode;
      }

      if (target && target.nodeName.toLowerCase() === 'a' && target.href) {
        m = target.href.match(intentRegex);
        if (m) {
          left = Math.round((winWidth / 2) - (width / 2));
          top = 0;

          if (winHeight > height) {
            top = Math.round((winHeight / 2) - (height / 2));
          }

          window.open(target.href, 'intent', windowOptions + ',width=' + width +
                                             ',height=' + height + ',left=' + left + ',top=' + top);
          e.returnValue = false;
          e.preventDefault && e.preventDefault();
        }
      }
    }

    if (document.addEventListener) {
      document.addEventListener('click', handleIntent, false);
    } else if (document.attachEvent) {
      document.attachEvent('onclick', handleIntent);
    }
    window.__IntentHandler = true;
  }());

  function fbs_click(width, height) {
      var leftPosition, topPosition;
      //Allow for borders.
      leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
      //Allow for title and status bars.
      topPosition = (window.screen.height / 2) - ((height / 2) + 50);
      var windowFeatures = "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no";
      u=location.href;
      t=document.title;
      window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer', windowFeatures);
      return false;
  }
// end share js
</script>
<div>
  <a target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{.Permalink | replaceRE "/$" ""}}&text={{.Title}}" title="Share on Twitter">
    <svg class="socialshare_twitter" xmlns="http://www.w3.org/2000/svg" viewBox="-1215 1632 12.579 12.579">
      <g transform="translate(-1980.723 1043.881)">
        <path d="M11.646,0H.928A.917.917,0,0,0,0,.907V11.672a.917.917,0,0,0,.928.907H11.646a.917.917,0,0,0,.933-.907V.907A.917.917,0,0,0,11.646,0ZM10.561,4.114v.278a6.221,6.221,0,0,1-6.289,6.263A6.289,6.289,0,0,1,.891,9.665a4.418,4.418,0,0,0,3.3-.912,2.207,2.207,0,0,1-2.1-1.53,2.1,2.1,0,0,0,.991-.037A2.2,2.2,0,0,1,1.336,5.026V5a2.191,2.191,0,0,0,1,.273,2.2,2.2,0,0,1-.681-2.94,6.242,6.242,0,0,0,4.539,2.3A2.28,2.28,0,0,1,6.132,4.1,2.207,2.207,0,0,1,8.339,1.9a2.18,2.18,0,0,1,1.62.718,4.549,4.549,0,0,0,1.4-.524,2.238,2.238,0,0,1-.98,1.216,4.471,4.471,0,0,0,1.263-.351h0a4.476,4.476,0,0,1-1.08,1.153Z" transform="translate(765.723 588.119)"></path>
      </g>
    </svg>
  </a>
  <a target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}" title="Share on Facebook" onClick="return fbs_click(400, 300)">
    <svg class="socialshare_facebook" xmlns="http://www.w3.org/2000/svg" viewBox="-1416 1523 12.579 12.579">
      <g transform="translate(-2156 934.881)">
        <path d="M11.887,0H.692A.692.692,0,0,0,0,.692v11.2a.692.692,0,0,0,.692.692H6.719V7.71H5.079v-1.9h1.64v-1.4A2.288,2.288,0,0,1,9.162,1.9a12.316,12.316,0,0,1,1.462.079V3.669H9.617c-.786,0-.938.377-.938.928V5.807h1.876l-.241,1.9H8.679v4.869h3.2a.692.692,0,0,0,.7-.692V.692A.692.692,0,0,0,11.887,0" transform="translate(740 588.119)"></path>
      </g>
    </svg>
  </a>
</div>