{{ $sass := resources.Get "sass/styles.scss" -}}
{{- $options := (dict "targetPath" "style.css" "outputStyle" "compressed") -}}
{{- $style := $sass | resources.ToCSS $options | resources.Minify | resources.Fingerprint "sha512" }}
{{ $criticalSCSS := resources.Get "sass/criticalCSS.scss" }}
{{- $criticalCSS_options := (dict "targetPath" "criticalCSS.css" "outputStyle" "compressed") -}}
{{- $criticalCSS := $criticalSCSS | resources.ToCSS $options -}}
<link rel="preload" as="font" href="{{ `fonts/Inter/Inter-roman.var.woff2` | absURL}}" type="font/woff2" crossorigin="anonymous">
<style type="text/css">
  {{ $criticalCSS.Content | safeCSS -}}
</style>
<link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
