.archive {

  ul{
    margin-bottom: var(--spacer-3);
    padding-left: 0;
    list-style: none;
  }

  .archive-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: var(--list-bottom-margin);

    &:hover {
      color: var(--link-hover-color);
    }

    .hr-list {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: .5rem;
        margin-left: .5rem;
        height: 1px;
        border: 0;
        border-bottom: 1px dotted #ccc;
        flex: 1 0 1rem;
    }

    time {
      opacity: .8;
    }
  }
}

.archive-tags {
  font-size: .9rem;

  a{
    text-decoration: none;
  }
}

.archive-term {
  ul {
    margin-top: var(--spacer-3);
  }
}

.archive.micro {
  .micro-meta {
    justify-content: flex-end;
  }

  .micro-content {
    border-bottom: 1px solid var(--border-color);
    padding-top: var(--spacer);
  }

}

.micro-meta {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;
  opacity: .8;
  font-size: .8rem;
  font-weight: 400;

  a {
    color: var(--body-font);
  }

  a:hover, a:focus {
    color: var(--link-hover-color);
    text-decoration: none;
  }
}
