// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

.message {
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  color: var(--gray-700);
  background-color: var(--yellow-200);
  border-radius: var(--border-radius);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
}
