// Related posts
.related {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  //margin-bottom: var(--spacer-2);
  //border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  h3 {
    margin-top: 0;
  }

  ul {
    margin-bottom: 0;
  }
}

.related-posts,
.latest-posts {
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: var(--list-bottom-margin);

    &:hover {
      color: var(--link-hover-color);
    }

    .hr-list {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: .5rem;
        margin-left: .5rem;
        height: 1px;
        border: 0;
        border-bottom: 1px dotted #ccc;
        flex: 1 0 1rem;
    }

    time {
      // flex: 0 0 7rem;
      opacity: .8;
      // text-align: right;
    }

  }
}
